{
  "Template": {
    "Type": "formula",
    "Name": "wife3",
    "Summary": "Etterna Wife3",
    "ArgumentName": "judge",
    "Aliases": ["j"],
    "Default": 4,
    "Min": 4,
    "Max": 9,
    "Precision": 0,
    "Variables": {
      "perfect": "(9.0 if int(judge) == 9 else 45.0 * (10.0 - float(judge)) / 6.0)"
    }
  },
  "Ruleset": {
    "Name": "{{'Wife3 JUSTICE' if int(judge) == 9 else 'Wife3 J' + diff_text}}",
    "Description": "Simulates Etterna's scoring system, Wife3",
    "Judgements": [
      {
        "Name": "Marvelous",
        "Color": [255, 0, 255, 255],
        "BreaksCombo": false,
        "TimingWindows": ["{{-(perfect * 0.5)}}", "{{(perfect * 0.5)}}"]
      },
      {
        "Name": "Perfect",
        "Color": [255, 255, 255, 0],
        "BreaksCombo": false,
        "TimingWindows": ["{{-perfect}}", "{{perfect}}"]
      },
      {
        "Name": "Great",
        "Color": [255, 0, 255, 100],
        "BreaksCombo": false,
        "TimingWindows": ["{{-(perfect * 2.0)}}", "{{(perfect * 2.0)}}"]
      },
      {
        "Name": "Good",
        "Color": [255, 0, 0, 255],
        "BreaksCombo": true,
        "TimingWindows": ["{{-(perfect * 3.0)}}", "{{(perfect * 3.0)}}"]
      },
      {
        "Name": "Bad",
        "Color": [255, 255, 0, 255],
        "BreaksCombo": true,
        "TimingWindows": [-180.0, 180.0]
      },
      {
        "Name": "Miss",
        "Color": [255, 255, 0, 0],
        "BreaksCombo": true,
        "TimingWindows": null
      }
    ],
    "Lamps": [
      {
        "Name": "SDCB",
        "Color": [255, 255, 160, 160],
        "Requirement": { "ComboBreaksAtMost": 9 }
      },
      {
        "Name": "MF",
        "Color": [255, 160, 160, 160],
        "Requirement": { "ComboBreaksAtMost": 1 }
      },
      {
        "Name": "FC",
        "Color": [255, 80, 255, 80],
        "Requirement": { "ComboBreaksAtMost": 0 }
      },
      {
        "Name": "SDG",
        "Color": [255, 160, 255, 160],
        "Requirement": { "JudgementAtMost": [2, 9] }
      },
      {
        "Name": "BF",
        "Color": [255, 200, 160, 255],
        "Requirement": { "JudgementAtMost": [2, 1] }
      },
      {
        "Name": "PFC",
        "Color": [255, 255, 255, 80],
        "Requirement": { "JudgementAtMost": [2, 0] }
      },
      {
        "Name": "SDP",
        "Color": [255, 255, 255, 160],
        "Requirement": { "JudgementAtMost": [1, 9] }
      },
      {
        "Name": "WF",
        "Color": [255, 255, 160, 255],
        "Requirement": { "JudgementAtMost": [1, 1] }
      },
      {
        "Name": "MFC",
        "Color": [255, 160, 255, 255],
        "Requirement": { "JudgementAtMost": [1, 0] }
      }
    ],
    "Grades": [
      { "Name": "D",     "Accuracy": 0.0,      "Color": [255, 255, 0, 0] },
      { "Name": "C",     "Accuracy": 0.6,      "Color": [255, 128, 0, 128] },
      { "Name": "B",     "Accuracy": 0.7,      "Color": [255, 0, 0, 255] },
      { "Name": "A",     "Accuracy": 0.8,      "Color": [255, 0, 255, 0] },
      { "Name": "A.",    "Accuracy": 0.85,     "Color": [255, 0, 255, 0] },
      { "Name": "A:",    "Accuracy": 0.9,      "Color": [255, 0, 255, 0] },
      { "Name": "AA",    "Accuracy": 0.93,     "Color": [255, 0, 255, 0] },
      { "Name": "AA.",   "Accuracy": 0.965,    "Color": [255, 0, 255, 0] },
      { "Name": "AA:",   "Accuracy": 0.99,     "Color": [255, 0, 255, 0] },
      { "Name": "AAA",   "Accuracy": 0.997,    "Color": [255, 255, 215, 0] },
      { "Name": "AAA.",  "Accuracy": 0.998,    "Color": [255, 255, 215, 0] },
      { "Name": "AAA:",  "Accuracy": 0.999,    "Color": [255, 255, 215, 0] },
      { "Name": "AAAA",  "Accuracy": 0.99955,  "Color": [255, 0, 255, 255] },
      { "Name": "AAAA.", "Accuracy": 0.9997,   "Color": [255, 0, 255, 255] },
      { "Name": "AAAA:", "Accuracy": 0.9998,   "Color": [255, 0, 255, 255] },
      { "Name": "AAAAA", "Accuracy": 0.999935, "Color": [255, 255, 255, 255] }
    ],
    "HitMechanics": {
      "NotePriority": "Etterna",
      "GhostTapJudgement": null
    },
    "HoldMechanics": {
      "OnlyRequireHold": 180.0
    },
    "Accuracy": {
      "WifeCurve": "{{int(judge)}}"
    },
    "Formatting": {
      "DecimalPlaces": "TWO"
    }
  }
}
