{
    "Accuracy": {
        "PointsPerJudgement": [1, 0.75, 0.4, 0]
    },
    "Description": "Simulates Malody's scoring system, Judge D",
    "Formatting": {
        "DecimalPlaces": "TWO"
    },
    "Grades": [{
        "Accuracy": 0,
        "Color": [255, 158, 77, 37],
        "Name": "M0"
    }, {
        "Accuracy": 0.7,
        "Color": [255, 181, 88, 43],
        "Name": "M1"
    }, {
        "Accuracy": 0.8,
        "Color": [255, 200, 98, 47],
        "Name": "M2"
    }, {
        "Accuracy": 0.9,
        "Color": [255, 212, 104, 50],
        "Name": "M3"
    }, {
        "Requirement": [
            { "Accuracy" : 0.95 },
            { "JudgementAtMost": [3, 0] }
        ],
        "Color": [255, 235, 115, 56],
        "Name": "M4"
    }, {
        "Accuracy": 1,
        "Color": [255, 251, 123, 60],
        "Name": "M5"
    }],
    "HitMechanics": {
        "GhostTapJudgement": null,
        "NotePriority": "Etterna"
    },
    "HoldMechanics": {
        "OnlyRequireHold": 150
    },
    "Judgements": [{
        "BreaksCombo": false,
        "Color": [255, 242, 79, 88],
        "Name": "BEST",
        "TimingWindows": [-28, 28]
    }, {
        "BreaksCombo": false,
        "Color": [255, 234, 235, 29],
        "Name": "COOL",
        "TimingWindows": [-68, 68]
    }, {
        "BreaksCombo": false,
        "Color": [255, 20, 216, 156],
        "Name": "GOOD",
        "TimingWindows": [-102, 102]
    }, {
        "BreaksCombo": true,
        "Color": [255, 150, 150, 150],
        "Name": "MISS",
        "TimingWindows": [-150, 150]
    }],
    "Lamps": [{
        "Color": [255, 255, 160, 160],
        "Name": "SDCB",
        "Requirement": {
            "ComboBreaksAtMost": 9
        }
    }, {
        "Color": [255, 160, 160, 160],
        "Name": "MF",
        "Requirement": {
            "ComboBreaksAtMost": 1
        }
    }, {
        "Color": [255, 80, 255, 80],
        "Name": "FC",
        "Requirement": {
            "ComboBreaksAtMost": 0
        }
    }, {
        "Color": [255, 160, 255, 160],
        "Name": "SDG",
        "Requirement": {
            "JudgementAtMost": [2, 9]
        }
    }, {
        "Color": [255, 200, 160, 255],
        "Name": "BF",
        "Requirement": {
            "JudgementAtMost": [2, 1]
        }
    }, {
        "Color": [255, 255, 255, 80],
        "Name": "PFC",
        "Requirement": {
            "JudgementAtMost": [2, 0]
        }
    }, {
        "Color": [255, 255, 255, 160],
        "Name": "SDC",
        "Requirement": {
            "JudgementAtMost": [1, 9]
        }
    }, {
        "Color": [255, 255, 160, 255],
        "Name": "WF",
        "Requirement": {
            "JudgementAtMost": [1, 1]
        }
    }, {
        "Color": [255, 160, 255, 255],
        "Name": "MFC",
        "Requirement": {
            "JudgementAtMost": [1, 0]
        }
    }],
    "Name": "Malody Pro (Judge D)"
}